* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 7.5rem;
    margin: 0 10px;
    border-radius: 250px;
    padding: 30px;
    cursor: pointer;
}

.choices button:hover {
    background-color: #1c1717;
}

#playerChoiceDisplay, #computerChoiceDisplay{
    font-size: 2rem;
}

.choiceDisplay {
    text-align: left;
}

#resultDisplay {
    font-size: 5rem;
    margin: 20px 0;
}

.score {
    font-size: 2rem;
    text-align: left;
}